<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property resource="globals-${spring.profiles.active}.properties"/>
	<!--
	if 문을 사용하기 위하여 다음을 pom.xml에 추가
			<dependency>
			<groupId>org.codehaus.janino</groupId>
			<artifactId>janino</artifactId>
			<version>2.7.7</version>
		</dependency>
		<dependency>
			<groupId>org.codehaus.janino</groupId>
			<artifactId>commons-compiler</artifactId>
			<version>2.7.7</version>
		</dependency>
     -->
	<!-- 로컬서버 -->
<!--	<property name="LOG_PATH" value="/Users/kim-useong/logs/dh-web" />-->
<!-- 개발서버 반영용 -->
	<property name="LOG_PATH" value="${log.path}" />
<!-- 운영서버 반영용 -->
<!--	<property name="LOG_PATH" value="/usr/local/src/logs" />-->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%5level) %cyan(%logger) - %yellow(%msg%n)</Pattern>
		</encoder>
	</appender>

	<appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/info.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%5level) %cyan(%logger) - %yellow(%msg%n)</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/info/info-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxHistory>365</maxHistory>
			<maxFileSize>50MB</maxFileSize>
			<totalSizeCap>100GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/error.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%5level) %cyan(%logger) - %yellow(%msg%n)</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/error/error-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxHistory>365</maxHistory>
			<maxFileSize>50MB</maxFileSize>
			<totalSizeCap>100GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<logger name="com.test.ch1" level="DEBUG"/>
	<if condition='"${spring.profiles.active}".contains("dev")'>
		<then>
			<root level="INFO">
				<appender-ref ref="CONSOLE" />
				<appender-ref ref="FILE_LOG" />
				<appender-ref ref="FILE_ERROR" />
			</root>

			<logger name="net" level="DEBUG" additivity="false">
				<appender-ref ref="CONSOLE" />
				<appender-ref ref="FILE_LOG" />
				<appender-ref ref="FILE_ERROR" />
			</logger>
		</then>
	</if>
	<if condition='"${spring.profiles.active}".contains("svc")'>
		<then>
			<logger name="net" level="INFO">
				<appender-ref ref="FILE_LOG" />
				<appender-ref ref="FILE_ERROR" />
			</logger>
		</then>
	</if>
</configuration>