@charset "utf-8";


/*******************^********************
*                 Header                *
****************************************/

.headerWrap .header{width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: flex-end;}

.headerWrap .header .info{width: 10vw; display: flex; flex-direction: row; justify-content: center; align-items: center;}

.dropdown{ position : relative; display : inline-block; }

.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1;
    right: -2vw;
    width: 5vw;
    border: 1px solid white;
    border-radius: 6px;
}

.dropdown-content a{display: block; width: 100%; text-align: center; color: white; padding: 10px; border-bottom: 1px solid gray; }

.dropdown:hover .dropdown-content { display: block; }

/*******************^********************
*                 SideBar                *
****************************************/

.sideBar{width: 15%; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;}

.sideBar .menu{width: 100%; height: 100%; display: flex; flex-direction: column; align-items: flex-start; padding: 7vh 0.5vw; justify-content: flex-start;}

.sideBar .menu > div{ width: 100%; height: 6vh; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 0.5vw; padding: 0 1vw}

.sideBar .menu > div:hover{background: #FFFFFF; border-radius: 6px;}

.sideBar .menu .menuActive{border-radius: 6px; background: #A9DFD8; color: #171821 !important;}

.sideBar .line, .main .line{width: 2px; height: 95%; background: #2C2D33;}

.sideBar .menu .dashboard{width: 1vw; height: 3vh; background: url(../images/dashboard.png) no-repeat center/100%;}

.sideBar .menu .evDemand{width: 1vw; height: 3vh; background: url(../images/evDemand.png) no-repeat center/100%;}

.sideBar .menu .evCurrent{width: 1vw; height: 3vh; background: url(../images/evCurrent.png) no-repeat center/100%;}

.sideBar .menu .userInfo{width: 1vw; height: 3vh; background: url(../images/user.png) no-repeat center/100%;}

.sideBar .menu .setting{width: 1vw; height: 3vh; background: url(../images/setting.png) no-repeat center/100%;}


/***************************************
*           checkbox                   *
***************************************/

.check input[type="checkbox"] {
    width: 1rem;
    height: 100%;
    -webkit-appearance: none;
    position: relative;
    cursor:pointer;
    outline: none !important;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.26);
}
.check input[type="checkbox"]::before {
    content: "\2714";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}
.check input[type="checkbox"]:checked {
    color: rgba(255, 255, 255, 0.60);
}
.check input[type="checkbox"]:checked::before {
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%)
}


/***************************************
*           images                   *
***************************************/

.icon-total{width: 2.5vw; height: 2.5vw; background: url(../images/icon_total.png) no-repeat center/100%;}

.icon_normal{width: 2.5vw; height: 2.5vw; background: url(../images/icon_normal.png) no-repeat center/100%;}

.icon_abnormal{width: 2.5vw; height: 2.5vw; background: url(../images/icon_abnormal.png) no-repeat center/100%;}

.icon_eyes{width: 2.5vw; height: 2.5vw; background: url(../images/icon_eyes.png) no-repeat center/100%;}

.icon_calendar{background-size: 1.4rem; background-image: url(../images/calendar.png); background-repeat: no-repeat; background-position: right; background-origin: content-box;}

.icon_cross{ width:1.2rem; height: 0.9rem; background-size: 0.9rem; background-image: url(../images/icon_cross.png); background-repeat: no-repeat; background-position: right; background-origin: content-box;}

.icon_search{
    background-size: 1rem;
    background-image: url(../images/icon_search.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position-x: 50%;
    background-position-y: 50%;
    text-align: -webkit-center;
}

.icon_user{width: 2rem; height: 2rem; background: url(../images/user-icon.png) no-repeat center/95%; vertical-align: middle;}

