@charset "utf-8";


/*******************^********************
*                 datatable             *
****************************************/

.dataTable {
    margin-left: 0;
}
/*
#datatable_wrapper{
    height: 663px;
}
*/
#datatable_paginate {
    margin-top: 0px;
    position: relative;
}
#datatable_info{
    margin-top: 5px;
    padding-left: 10px;
}
.pagination {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.pagination {
    display: block;
    vertical-align: middle; /* margin: 0 5px; */
}

.pagination > li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

#datatable_previous {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-indent: -999999em;
}

#datatable_next {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-indent: -999999em;
}

.pagination li a { /* display: inline-block; */
}

.pagination li a:hover {
    color: #356aba;
}

.pagination .active {
    color: #356aba;
    text-decoration: underline;
}

#datatable_info {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 17px;
}

/*******************^********************
*                 Button                *
****************************************/
.btn-select+.list-select{
    z-index: 1;
}


/* Loading */
.wrap-loading{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.2); /*not in ie */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
    z-index: 999999;
}
.wrap-loading div{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -119px;
    margin-top: -117px;
}

.hidden{ display:none!important; }

.btn-top10 {top:10px;}

.btn-position{
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: -webkit-right;
    top: 10px;}

.btn-position .right-position {position: absolute; right:0px }
.btn-position .left-position {position: absolute; right:140px }

/*******************^********************
*            progressbar                *
****************************************/

progress{ appearance: none;}

prgress::-webkit-progress-bar{ background:rgba(43, 43, 54, 1); border-radius:10px; }

.progress-orange::-webkit-progress-value { transition: width 1.0s; border-radius:10px; background: rgba(252, 184, 89, 1);}

.progress-blue::-webkit-progress-value { ransition: width 1.0s; border-radius:10px; background: rgba(169, 223, 216, 1);}

/*******************^********************
*            iconBox                *
****************************************/

/*메인 화면 퍼센테이지 박스*/
.percent-orange-box{
    border-radius: 4px;
    border: 0.5px solid #FCB859;
    background: rgba(252, 184, 89, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FCB859;
}

.percent-blue-box{
    border-radius: 4px;
    border: 0.5px solid #A9DFD8;
    background: rgba(169, 223, 216, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#A9DFD8;
}

/*적합 판단 박스*/
.judgment-box{ border-radius: 20px; background: rgba(255, 255, 255, 0.15); padding: 0.7rem 1rem; text-align: center; font-weight: 900;}

/*급속전력 박스*/
.rapidity-box {border-radius: 20px; background: rgba(255, 255, 255, 0.15); padding: 0.5rem 0.7rem; text-align: center; font-weight: 900; color: #FFFFFF;}

/*상태 박스*/
.status-red-box {border-radius: 20px; background: rgba(243, 18, 96, 0.2); padding: 0.5rem 0.7rem; text-align: center; font-weight: 900; color: rgba(243, 18, 96, 1);}
.status-green-box {border-radius: 20px; background: rgba(24, 201, 100, 0.20); padding: 0.5rem 0.7rem; text-align: center; font-weight: 900; color: rgba(18, 161, 80, 1);}
.status-orange-box {border-radius: 20px; background: rgba(245, 165, 36, 0.2); padding: 0.5rem 0.7rem; text-align: center; font-weight: 900; color: rgba(195, 132, 29, 1);}

/*******************^********************
*            Modal                  *
****************************************/

.modal-dialog{width: 65% !important; max-width: none !important;}

.modal .display-column{display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;}

.modal .display-row{display: flex; flex-direction: row; align-items: center; justify-content: space-between;}

.modal-content{ background-color: #171821 !important; color: #FFFFFF;}

.modal-header{border-bottom: none !important;}

.modal-header button > span{color:#FFFFFF;}

.modal-body .content-box{border-radius: 10px; border: 1px solid #000000; padding: 1rem; font-weight: 900; background-color: #21222D;}

