@charset "utf-8";

/*******************^********************
*               Main Page               *
****************************************/

.wrapper {height: 100vh; background: #171821; display: flex; flex-direction: row; align-items: flex-start;}

.content-wrapper{display: flex; flex-direction: column; align-items: flex-start;}

.main{display: flex; flex-direction: row; justify-content: center; gap:1vw;}

.main .left{width: 30%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2vh;}

.main .right{width: 65%; height: 100%; display: flex; align-items: flex-start; flex-direction: column; gap: 1.5vh;}

.main .card{width: 100%; border-radius: 10px; background: #21222D; padding: 0.7em;}

.main .display-column{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}

.main .display-row{display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; gap: 0.8vw;}

.main .display-row-center{display: flex; flex-direction: row; justify-content: space-between; align-items: center;}

.main .sm-card{width: 100%; height: 100%; border-radius: 10px; background: #171821; padding: 0.5em 0.25em 0.25em 0.25em; gap: 0.4rem;}


/*******************^********************
*              Login Page               *
****************************************/

.loginPage{height: 100vh; background: url(../images/login-background.png)50% 100% #e5ecf6; display: flex; flex-direction: column; justify-content: space-around;}

.loginHeader{display: flex; flex-direction: row; align-items: center; justify-content: space-around; height: 15%}

.rightFrame{display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;}

.loginPage h1{width: 6vw; height: 2vw; border-radius: 21px; background:rgba(217, 217, 217, 0.34); }

.loginPage h1 > div{display: flex; align-items: center;justify-content: center;color:rgba(255, 255, 255, 1);}

.loginPage .loginBox{display: flex; align-content: center; justify-content: center; align-items: center; flex-direction: column;}

.loginPage .loginBox .frame{width: 25vw; height: 35vw; position: relative;}

.loginPage .loginBox .frame .topBox{ background: linear-gradient(180deg, rgba(105.44, 100.17, 100.17, 0.13) 27%, rgba(255, 255, 255, 0.01) 100%); border-radius: 33px; display: flex; flex-direction: column; justify-content: flex-end;}

.loginPage .loginBox .frame .bottomBox{width: 100%; height: 85%; background: linear-gradient(180deg, rgba(105.44, 100.17, 100.17, 0.46) 27%, rgba(255, 255, 255, 0.01) 100%); border-radius: 33px}

.loginPage .loginBox .frame .loginType{height: 15%; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.loginPage .loginBox .frame .loginType .type{left: 67px; top: 26px; color: white; word-wrap: break-word;}

.loginPage .loginBox .frame .loginType .line{width: 3.8vw; height: 0px; left: 235px; top: 560px; border: 1px rgba(255, 255, 255, 0.70) solid;}

.loginPage .loginBox .frame .topBox .bottomBox{width:100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px; gap: 10px;}

.loginPage .loginBox .frame .topBox .bottomBox .userIcon{width: 15%; height: 20%; background: url(../images/user-icon.png) no-repeat center/100%;}

.loginPage .loginBox .frame .topBox .bottomBox .line{width: 70%; height: 10%; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.loginPage .loginBox .frame .topBox .bottomBox .line > div:nth-child(odd){width: 40%; height: 2px; border: 1px rgba(255, 255, 255, 0.20) solid;}

.loginPage .loginBox .frame .topBox .bottomBox .loginInfo{width: 100%;  height: 30%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;}

.loginPage .loginBox .frame .topBox .bottomBox .loginInfo .idBox{width: 70%; height: 40%; background: rgba(41.44, 0, 0, 0.46); border-radius: 16px; display: flex; align-items: center; border: none;}

.loginPage .loginBox .frame .topBox .bottomBox .loginInfo .pwBox{width: 70%; height: 40%; background: rgba(41.44, 0, 0, 0.46); border-radius: 16px; display: flex; align-items: center; border: none;}

.loginPage .loginBox .frame .topBox .bottomBox .rememberAccount{width: 70%; height: 3%; display: flex; align-items: center; justify-content: space-between;}

.loginPage .loginBox .frame .topBox .bottomBox .loginBtn{width: 40%; height: 10%; cursor: pointer; background: rgba(41.44, 0, 0, 0.46); border-radius: 16px; display: flex; align-items: center; justify-content: center;}



@media screen and (max-width:1280px){
  .wrapper {width: 1280px; overflow: auto; }
}

@media screen and (max-height:658px){
  .wrapper {height: 658px; overflow: auto; }
}
