.myPage_main {
    background: url(../images/login-background.png);
    width: 85%;
    height: 100%;
}
.myPage_main .myPage_container {
    display: flex; align-content: center; justify-content: center; align-items: center; flex-direction: column;
}
.myPage_main .myPage_container .frame{
    width: 40rem; height: 60rem; position: relative;
}

.myPage_main .myPage_container .frame .topBox{ background: linear-gradient(180deg, rgba(105.44, 100.17, 100.17, 0.13) 27%, rgba(255, 255, 255, 0.01) 100%); border-radius: 33px; display: flex; flex-direction: column; justify-content: flex-end;}

.myPage_main .myPage_container .frame .bottomBox{width: 100%; height: 85%; background: linear-gradient(180deg, rgba(105.44, 100.17, 100.17, 0.46) 27%, rgba(255, 255, 255, 0.01) 100%); border-radius: 33px}

.myPage_main .myPage_container .frame .loginType{height: 15%; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.myPage_main .myPage_container .frame .loginType .type{font-size: 1.5rem; color: white; word-wrap: break-word; letter-spacing: 0.1rem;}

.myPage_main .myPage_container .frame .loginType .line{border: 1px rgba(255, 255, 255, 0.70) solid; margin-top: 10px; box-shadow: 0px 8px 9px 2px rgba(0, 0, 0, 0.25);}

.myPage_main .myPage_container .frame .topBox .bottomBox{width:100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px; gap: 10px;}

.myPage_main .myPage_container .frame .topBox .bottomBox .userIcon{width: 15%; height: 20%; background: url(../images/user-icon.png) no-repeat center/100%;}

.myPage_main .myPage_container .frame .topBox .bottomBox .line{width: 70%; height: 10%; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.myPage_main .myPage_container .frame .topBox .bottomBox .line > div:nth-child(odd){width: 40%; height: 2px; border: 1px rgba(255, 255, 255, 0.20) solid;}

.myPage_main .myPage_container .frame .topBox .bottomBox .loginInfo{width: 100%;  height: 30%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;}

.myPage_main .myPage_container .frame .topBox .bottomBox .loginInfo .inputBox{width: 100%; height: 60%; background: rgba(41.44, 0, 0, 0.46); border-radius: 16px; display: flex; align-items: center; border: none; padding: 0 1.2rem;}

.myPage_main .myPage_container .frame .topBox .bottomBox .loginInfo .inputBox > input{background: unset; border: none; width: 90%; height: 100%;}

.myPage_main .myPage_container .frame .topBox .bottomBox .loginInfo .joinFrame{display: flex; flex-direction: column; align-items: flex-start; width: 100%; height:100%; padding: 0 2rem; gap: 0.3rem;}

.activeEyes {filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);}

.myPage_main .myPage_container .frame .topBox .bottomBox .joinBtn{display: flex; align-items: center; justify-content: space-evenly; width: 50%; height: 15%;}

.myPage_main .myPage_container .frame .topBox .bottomBox .rememberAccount{width: 70%; height: 3%; display: flex; align-items: center; justify-content: space-between;}

.myPage_main .myPage_container .frame .topBox .bottomBox .loginBtn{width: 30%; height: 10%; cursor: pointer; background: rgba(41.44, 0, 0, 0.46); border-radius: 16px; display: flex; align-items: center; justify-content: center; transition: all 0.3s}
