<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="datahub.user.mappers.pg.UserMapper">
    <insert id="userJoin" parameterType="userDto">
        INSERT INTO
            "datahubUpgrade".dh_user
        VALUES
            (
             #{userId}
            ,#{userPwd}
            ,#{userName}
            ,#{userBirth}
            ,#{userPhone}
            ,'001'
            ,now()
            )
    </insert>
    <select id="userLogin" parameterType="userDto" resultType="userDto">
        select *
        from "datahubUpgrade".dh_user
        where 1 = 1
        AND user_id = #{userId}
        AND user_type = '001'
    </select>
    <update id="updateUser" parameterType="userDto">
        update "datahubUpgrade".dh_user
        set
        <if test="userPwd != '' and userPwd != null">
            user_pwd = #{userPwd},
        </if>
            user_name = #{userName},
            user_phone = #{userPhone}
        where user_id = #{userId}
    </update>
    <delete id="deleteUser" parameterType="userDto">
        delete
        from "datahubUpgrade".dh_user
        where 1 = 1
        and user_id = #{userId}
    </delete>
</mapper>