<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="datahub.evChargerDemand.mappers.pg.EvChargerDemandMapper">

    <select id="selectBuildings" parameterType="evChargerDemandDto" resultType="evChargerDemandDto">
    SELECT A.*
         , <![CDATA[
           CASE
               WHEN A.chargerStandard >= 2 THEN
                   CASE
                       WHEN A.fastChargerCount < 1 THEN '부적합'
                       WHEN A.fastChargerCount >= 1 AND A.chargerCount >= A.chargerStandard THEN '적합'
                       WHEN A.fastChargerCount >= 1 AND A.chargerCount < A.chargerStandard THEN '부적합'
                       ELSE '-'
                    END
               WHEN A.chargerStandard < 2 THEN
                   CASE
                       WHEN A.chargerCount >= A.chargerStandard THEN '적합'
                       WHEN A.chargerCount < A.chargerStandard THEN '부적합'
                       ELSE '-'
                    END
               ELSE '-'
            END AS suitability
            ]]>
    FROM (
        SELECT building_id AS buildingId
             , building_name AS buildingName
             , building_purpose_code AS buildingPurposeCode
             , CASE
                   WHEN building_purpose_code = '02000' THEN '공동주택'
                   WHEN building_purpose_code = '10000' THEN '교육연구시설'
                   WHEN building_purpose_code = '14000' THEN '업무시설'
                   ELSE '-'
                END AS buildingPurposeName
             , region AS region
             , CASE
                   WHEN region = '01' THEN '제주시'
                   WHEN region = '02' THEN '서귀포시'
                   ELSE '-'
                END AS regionName
             , building_type AS buildingType
             , CASE
                   WHEN building_type = '1' THEN '집합'
                   WHEN building_type = '2' THEN '일반'
                   ELSE '-'
                END AS buildingTypeName
             , B.road_name_address AS roadNameAddress
             , land_lot_number_address AS landLotNumberAddress
             , TO_CHAR(permission_date::timestamp, 'YYYY-MM-DD') AS permissionDate
             , TO_CHAR(completion_date::timestamp, 'YYYY-MM-DD') AS completionDate
             , floors AS floors
             , building_area AS buildingArea
             , total_area AS totalArea
             , plat_area AS platArea
             , self_outdoor_parking_count AS selfOutdoorParkingCount
             , self_indoor_parking_count AS selfIndoorParkingCount
             , mechanical_outdoor_parking_count AS mechanicalOutdoorParkingCount
             , mechanical_indoor_parking_count AS mechanicalIndoorParkingCount
             , B.pnu_code AS pnuCode
             , CASE
                   WHEN permission_date <![CDATA[ < ]]> '2022-01-28' THEN CEIL(0.02 * (self_outdoor_parking_count + self_indoor_parking_count + mechanical_outdoor_parking_count + mechanical_indoor_parking_count))
                   ELSE CEIL(0.05 * (self_outdoor_parking_count + self_indoor_parking_count + mechanical_outdoor_parking_count + mechanical_indoor_parking_count))
                END AS chargerStandard
             , COUNT(C.road_name_address) AS chargerCount
             , SUM(CASE WHEN C.output <![CDATA[ >= ]]> 40 THEN 1 ELSE 0 END) AS fastChargerCount
             , SUM(CASE WHEN C.output <![CDATA[ < ]]> 40 THEN 1 ELSE 0 END) AS slowChargerCount
        FROM "datahubUpgrade".dh_building_test B
        LEFT OUTER JOIN "datahubUpgrade".dh_charger_test C on B.pnu_code = C.pnu_code
        WHERE 1=1
        <if test="searchRegion != null and searchRegion != ''">
            AND region = #{searchRegion}
        </if>
        <if test="searchBuildingPurposeCode != null and searchBuildingPurposeCode != ''">
            AND building_purpose_code = #{searchBuildingPurposeCode}
        </if>
        <if test="searchSuitability != null and searchSuitability != ''">
            AND suitability = #{searchSuitability}
        </if>
        <if test="searchPermissionDateFrom != null and searchPermissionDateFrom != ''">
            <![CDATA[ AND permission_date >= ]]> TO_CHAR(#{searchPermissionDateFrom}::timestamp, 'YYYY-MM-DD')::timestamp
        </if>
        <if test="searchPermissionDateTo != null and searchPermissionDateTo != ''">
            <![CDATA[ AND permission_date <= ]]> TO_CHAR(#{searchPermissionDateTo}::timestamp, 'YYYY-MM-DD')::timestamp
        </if>
        GROUP BY B.building_id, B.region, B.permission_date, B.road_name_address
        ORDER BY region, permission_date DESC
        <if test="pagingYn == true and start != null and length != null" >
            offset #{start} limit #{length}
        </if>
        ) A

    </select>

    <select id="countBuildings" parameterType="evChargerDemandDto" resultType="java.lang.Integer">
        SELECT COUNT( * )
        FROM "datahubUpgrade".dh_building_test
        WHERE 1=1
        <if test="searchRegion != null and searchRegion != ''">
            AND region = #{searchRegion}
        </if>
        <if test="searchBuildingPurposeCode != null and searchBuildingPurposeCode != ''">
            AND building_purpose_code = #{searchBuildingPurposeCode}
        </if>
        <if test="searchSuitability != null and searchSuitability != ''">
            AND suitability = #{searchSuitability}
        </if>
        <if test="searchPermissionDateFrom != null and searchPermissionDateFrom != ''">
            <![CDATA[ AND permission_date >= ]]> TO_CHAR(#{searchPermissionDateFrom}::timestamp, 'YYYY-MM-DD')::timestamp
        </if>
        <if test="searchPermissionDateTo != null and searchPermissionDateTo != ''">
            <![CDATA[ AND permission_date <= ]]> TO_CHAR(#{searchPermissionDateTo}::timestamp, 'YYYY-MM-DD')::timestamp
        </if>
    </select>

    <select id="selectChargers" parameterType="evChargerDemandDto" resultType="evChargerDemandDto">
        SELECT charging_station_name AS chargingStationName
             , CASE WHEN output >= 40 THEN CONCAT ('급속(', COALESCE(output, 0), 'KW)')
                    ELSE CONCAT ('완속(', COALESCE(output, 0), 'KW)')
                END AS chargerType
             , CASE WHEN limit_yn = 'N' THEN '개방형'
                    ELSE '부분 개방형'
                END AS limitYn
             , agency_name AS agencyName
             , CASE WHEN charger_status = '1' THEN '통신 이상'
                    WHEN charger_status = '2' THEN '충전 대기'
                    WHEN charger_status = '3' THEN '충전중'
                    WHEN charger_status = '4' THEN '운영 중지'
                    WHEN charger_status = '5' THEN '점검중'
                    WHEN charger_status = '9' THEN '상태 미확인'
                END AS chargerStatus
             , COALESCE(TO_CHAR(last_charging_end_date::timestamp, 'YYYY-MM-DD HH24:MI:SS'), '-') AS lastChargingEndDate
        FROM "datahubUpgrade".dh_charger_test
        WHERE pnu_code = #{pnuCode}
        ORDER BY charger_status ASC, output, last_charging_end_date DESC
    </select>

</mapper>